<main>
    <h1 class="header">O projekcie</h1>
    
    <p class="first">
        Projekt techniki multimedialne<br>
        Nazwa projektu: Techhub.com<br>
    </p>
    
    <h3>Film 1 opis:</h3>
    <p>
        W pierwszym filmie ukazane jest jak zamknąć komputer 
        za pomocą komendy shutdown w konsoli komend.
    </p>
    <h3>Film 2 opis:</h3>
    <p>
        W drugim filmie można zobaczyć jak wbić gwóźdź za pomocą młotka.
    </p>
    <h3>Film 3 opis:</h3>
    <p>
        Ten film ukazuje jak poprawnie wykonać pomiar rury oraz 
        głębokości bierznika opony za pomocą suwmiarki
    </p>
    <h3>Film 4 opis:</h3>
    <p>
        W ostatnim pokazane zostało jak dokręcić śrubę 
        za pomocą klucza dynamometrycznego
    </p>
</main>